
priority 0

snippet ,if "if branch" wA
if ($1):
	$2
endsnippet

snippet ,elif "if elif else" wA
if ($1):
	$2
elif ($3):
	$4
else:
	$5
endsnippet

snippet ,else "if else" wA
if ($1):
	$2
else:
	$3
endsnippet

snippet ,try "try except" bA
try:
	$1
except:
	$2
endsnippet

